.contribute-form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-custom {
    width: 226px;
    /* margin-left: 70px; */
}

#contributeBtn{
    margin-left: 70px;
}