@media screen and (max-width: 576px) {
 
    #contributeBtn{
        margin-left: 70px;
        width: 226px;
        color: black
    }
} 



/* medium screen 768 */
@media screen and  (min-width: 576px) and (max-width: 992px) {
    #contributeBtn{
        margin-left: 215px;
        width: 330px;
        color: black;
        font-size: 20px
    }
}
  
/* large screen 992 */
@media screen and (min-width: 992px) {
    #contributeBtn{
        margin-left: 300px;
        width: 500px;
        color: black;
        font-size: 23px
    }

}

.contribute-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separator{
    height:5px;
}

.tags-checkbox{
    margin-left: 10px;
}