.landing-body{
    position: relative;
    height: 100vh;
    background-image: url(./travel.jpg);
    background-size: cover;
    /* background-repeat: no-repeat;
    background-attachment: fixed;  */
}

/* body{
    background-color: black;
} */

.search-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 40vh; */
    padding-top: 15px;
    padding-bottom: 15px;
}

.location-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-custom {
    width: 226px
}

.overlay{
    position: absolute;
    margin-top: 40vh;
    height: 190px;
    background-color: grey;
    width: 300px;
    margin-left: 40px;
    /* border: 1px solid black; */
}

.error-msg{
    height: 1000px;
}