@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');

/* small screen 576 */
@media screen and (max-width: 576px) {
    .listingImg{
        height: 50vh;
        width: 100%;
        object-fit: cover;
        border: 5px #ffbb33 solid;
        border-radius: 10%
    }
    
    .img-container{
        padding: 10px;
    }
} 
  
/* medium screen 768 */
@media screen and  (min-width: 576px) and (max-width: 992px) {
    .img-container{
        padding: 10px;
    }
 
 
    .listingImg{
        height: 70vh;
        width: 100%;
        object-fit: cover;
        border: 5px #ffbb33 solid;
        border-radius: 10%
    }
 
     .description-list{
         font-size: 20px;
     } 

}
  
/* large screen 992 */
@media screen and (min-width: 992px) {

    .img-container{
       padding: 0;
    }


    .listingImg{
        height: 80vh;
        width: 100%;
        object-fit: cover;
        /* border: 5px #ffbb33 solid;
        border-radius: 10% */
    }

    .description-list{
        font-size: 25px;
    } 
}

.listing-page{
    height: 100%;
    background-color: #f2efe2;
    margin-bottom: 10px;
}

.introduction{
    /* font-style: italic; */
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 8%;
    background-color: rgba(255, 255, 255, 0.7)
}

.description{
    /* font-style: italic; */
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: left;
}

.description > h2{
    font-family: "Lora", sans-serif;
}


.listing-title{
    font-family: "Lora", sans-serif;
    font-size: 35px;
}

.basic-info{
    padding-bottom: 20px;
}

.singlePostBasic{
    font-size: 20px;
    color: #be9656;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
}


